<!-- I am in here for the details page -->

<% if (title) { %>
    <h1><%= title %></h1>


        <form action="/inv/update" method="post">
            <p>Please update the data you want updated.</p>
            <div>
                <%- classificationSelect %>
            </div>
            <br>
            <div>
            <label for="inv_make">Make: <input type="text" id="inv_make" name="inv_make" required 
                <% if(inv_make) { %> value="<%= inv_make %>"
                <% } %>>
            </label>
            </div>
            <br>
            <div>
            <label for="inv_model">Model: <input type="text" id="inv_model" name="inv_model" required <% if(inv_model) { %> value="<%= inv_model %>"
                <% } %>></label>
            </div>
            <br>
            <div>
            <label for="inv_year">Year:
            <input type="number" id="inv_year" name="inv_year" required <% if(inv_year) { %> value="<%= inv_year %>"
            <% } %>></label>
            </div><br>
            <div>
            <label for="inv_description">Description:
            <input id="inv_description" name="inv_description" required <% if(inv_description) { %> value="<%= inv_description %>"
                <% } %>></label>
            </div><br>
            <div>
            <label for="inv_image">Image URL:
            <input type="text" id="inv_image" name="inv_image" required <% if(inv_image) { %> value="<%= inv_image %>"
            <% } %>></label>
            </div><br>
            <div>
            <label for="inv_thumbnail">Thumbnail URL:
            <input type="text" id="inv_thumbnail" name="inv_thumbnail" required <% if(inv_thumbnail) { %> value="<%= inv_thumbnail %>"
            <% } %>></label>
            </div><br>
            <div>
            <label for="inv_price">Price:
            <input type="number" id="inv_price" name="inv_price" required <% if(inv_price) { %> value="<%= inv_price %>"
            <% } %>></label>
            </div><br>
            <div>
                <label for="inv_miles">Miles:
                <input type="number" id="inv_miles" name="inv_miles" required <% if(inv_miles) { %> value="<%= inv_miles %>"
                <% } %>></label>
            </div>
            <br>
            <div>
            <label for="inv_color">Color:
            <input type="text" id="inv_color" name="inv_color" required <% if(inv_color) { %> value="<%= inv_color %>"
            <% } %>></label>
            </div><br>
            <button type="submit">Update Vehicle</button>

            <input type="hidden" name="inv_id"
            <% if(inv_id) { %> value="<%= inv_id %>"
            <% } %>>
        </form>

        <script src="../../js/inv-update.js"></script>
    <% } else {
      res.redirect('/')
    } %>

    <% messages() %>
